<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <nav>
    <div class="container">
      <ul class="menu">
        <li class="logo"><img src="/public/img/logo1.png" alt="logo" /></li>
        <li class="menu-item"><a href="/home">Home</a></li>
        <li class="menu-item"><a href="https://spoonacular.com/food-api" target="_blank">Api</a></li>
        <li class="menu-item"><a href="https://github.com/SigridMV" target="_blank">Contact</a></li>
      </ul>
    </div>
  </nav>

  <section class="contact">
    <div class="container">
      <h1>Contact</h1>
      <div class="contact-info">
        <p><strong>Name:</strong> Sigrid Müller Vidal</p>
        <p><strong>Email:</strong> sigrid.muller.vidal@gmail.com</p>
        <p><strong>GitHub:</strong> <a href="https://github.com/SigridMV">https://github.com/SigridMV</a></p>
      </div>
      <p>¡Gracias por visitar mi proyecto!</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <ul class="social-icons">
        <li>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </footer>
</body>
</html>